{% extends 'UserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="userForm">
        {{ 'registration.check_email'|trans }} : {{ user.email }}
    </div>
{% endblock fos_user_content %}